.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.input-container {
  margin-bottom: 20px;
}

.input-container select,
.input-container input {
  display: flex;
  width: calc(50% - 5px);
  margin-bottom: 10px;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.success-message {
  font-size: small;
  color: green;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}