.home-nav {
  background-color: rgb(212, 84, 51);
  padding: 1px;
}

.nav-dropdown{
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:last-child {
  margin-right: 0;
}

li a {
  color: white;
  font-weight: bold; 
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s; 
}

li a:hover {
  color: #000000; 
  background-color: #ffffff; 
  border-radius: 5px !important;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}


.logo {
  width: 50px; 
  height: auto; 
}